#textdomain wesnoth-The_Bees_Journey

# The Bee’s Journey
# Copyright (C) 2022 - 2026 by Hiroki Hatanaka <hiroki.hatanaka@proton.me>

# wmlscope: set export=no

[textdomain]
    name="wesnoth-The_Bees_Journey"
    path="data/add-ons/The_Bees_Journey/translations"
[/textdomain]

#ifdef CAMPAIGN_THE_BEES_JOURNEY
[binary_path]
    path=data/add-ons/The_Bees_Journey
[/binary_path]

[lua]
    code=<<
wesnoth.dofile '~add-ons/The_Bees_Journey/lua/help.lua'
>>
[/lua]

{~add-ons/The_Bees_Journey/utils}
{~add-ons/The_Bees_Journey/scenarios}

[+units]
    {~add-ons/The_Bees_Journey/units}

    # Hide the ants from mainline to avoid overlapping
    [hide_help]
        type_adv_tree=Giant Ant,Giant Ant Queen,Fire Ant Egg,Fire Ant Queen
    [/hide_help]
[/units]
#endif

[campaign]
    id=The_Bees_Journey
    abbrev= _ "TBJ"
    name= _ "The Bee’s Journey"

    icon="data/add-ons/The_Bees_Journey/images/icon.png"
    image="data/add-ons/The_Bees_Journey/images/portraits/queen-younger.png~SCALE(350,350)"
    background="story/landscape-hills-01.webp"

    description= _ "That summer, the Kingdom of Bees was destroyed under the hornet invasion. You, the lone surviving princess, must lead the bees on their journey to rebuild the homeland."+"

"+ _ "(Intermediate level, 12 scenarios planned, currently 8 playable.)"

    define=CAMPAIGN_THE_BEES_JOURNEY

#ifdef CAMPAIGN_THE_BEES_JOURNEY
    {GLOBAL__CLEAR_FIRE_PUPPETS}
    {GLOBAL__TBJ_DEATHS}
    {GLOBAL__INIT_CAMPAIGN_HELP}
    {GLOBAL__IMORINS_EMERGENCE}
    {GLOBAL__HERO_AMLAS}
    {GLOBAL__CHARMING_EVENTS}
#endif

    {CAMPAIGN_DIFFICULTY EASY   "data/add-ons/The_Bees_Journey/images/units/bees/princess-bee.png"  ( _ "Princess")  ( _ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "data/add-ons/The_Bees_Journey/images/units/bees/new-queen-bee.png" ( _ "New Queen") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "data/add-ons/The_Bees_Journey/images/units/bees/queen-bee.png"     ( _ "Queen")     ( _ "Hard")}

    first_scenario=00_Childhood

    [about]
        title= _ "Campaign Design"
        [entry]
            name="Hiroki Hatanaka (KameRamen)"
            comment="Story, programming, character and unit design, artwork base, and other creative elements"
        [/entry]
    [/about]
    [about]
        title= _ "Campaign Maintenance"
        [entry]
            name="Hiroki Hatanaka (KameRamen)"
        [/entry]
    [/about]
    [about]
        title= _ "General Design Assistance"
        [entry]
            name="Dragon-Friend"
            comment="Character fleshing ideas, some dialogue writing, additional coding, and brainstorming support"
        [/entry]
    [/about]
    [about]
        title= _ "Artwork and Graphics Design"
        [entry]
            name="Tsunami_"
            comment="New portraits and several additional graphics"
        [/entry]
        [entry]
            name="Renlie_Cocoa"
            comment="New original sprites"
        [/entry]

        {CREDITS_SEPARATOR}

        [entry]
            name="battlestar"
            comment="Sprite for Little Caterpillar, originally worm.png from Children of Dragons"
        [/entry]
    [/about]
    [about]
        title= _ "Music"
        [entry]
            name="ancestral"
            comment="Battle Cry"
        [/entry]
        [entry]
            name="Mythological"
            comment="wesnoth-3.ogg"
        [/entry]
        [entry]
            name="KKSlider60"
            comment="Breeze"
        [/entry]
        [entry]
            name="Tlogmer"
            comment="Calm Before the Storm"
        [/entry]
    [/about]
    [about]
        title= _ "Additional thanks to"
        [entry]
            name="Atreides"
            comment="Helpful feedback for earlier versions"
        [/entry]
        [entry]
            name="Dragon-Friend"
            comment="Ongoing support of various kinds"
        [/entry]

        {CREDITS_SEPARATOR}

        [entry]
            name= _ "You, for playing this campaign"
        [/entry]
    [/about]
[/campaign]

# wmllint: directory spellings Lagos Kaldyn Melissa
# wmllint: directory spellings elven Clovis FIXME
# wmllint: directory spellings Kushark Dragochan KameRamen
# wmllint: directory spellings Gapas Valois katana
# wmllint: directory spellings Dilan Imorin
