#textdomain wesnoth-The_Bees_Journey

#define MYSTERIOUS_VOICE MSG
    [message]
        speaker=narrator
        caption= _ "Mysterious Voice"
        message={MSG}
        image=none
    [/message]
#enddef

#define UNLIMITED_PLAYER_MOVES
    [event]
        id=UNLIMITED_PLAYER_MOVES_impl
        name=moveto
        first_time_only=no
        [filter]
            side=1
        [/filter]

        {VARIABLE unit.moves $unit.max_moves}

        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]

        [allow_undo][/allow_undo]
    [/event]
#enddef

#define DISABLE_UNLIMITED_PLAYER_MOVES
    [remove_event]
        id=UNLIMITED_PLAYER_MOVES_impl # wmllint: ignore
    [/remove_event]
#enddef

#define FADE_OUT_MUSIC
    {VARIABLE fade_duration_remaining 500}
    [while]
        [variable]
            name=fade_duration_remaining
            greater_than=0
        [/variable]
        [do]
            {VARIABLE_OP fade_duration_remaining sub 5}
            {VARIABLE volume 100}
            {VARIABLE_OP volume multiply $fade_duration_remaining}
            {VARIABLE_OP volume divide 500}
            [volume]
                music=$volume
            [/volume]
            [delay]
                time=5
            [/delay]
        [/do]
    [/while]
    {CLEAR_VARIABLE fade_duration_remaining,volume}

    {REPLACE_SCENARIO_MUSIC silence.ogg}
    [delay]
        time=10
    [/delay]
    [volume]
        music=100
    [/volume]
#enddef

#define GLOBAL__CLEAR_FIRE_PUPPETS
    [event]
        name=prestart
        [kill]
            role=fire_puppet
            fire_event=no
        [/kill]
    [/event]
#enddef
