#textdomain wesnoth-The_Bees_Journey

#define NIGHTMARE
    [time]
        id=nightmare
        name= _ "Nightmare"
        image="misc/nightmare.png"
        red=-60
        green=-30
        blue=0
    [/time]
#enddef
